{% extends 'base.html' %}

{% block head %}
<title>Add Password</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">KeepSafe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about_us">About Us</a>
        </li>
        {% if not session.get('name') %}
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/login">Login</a>
        </li>
        {% else %}
        <li class="nav-item ">
          <a class="nav-link " href="/logout">Logout</a>
        </li>
        {% endif %}  
      </ul>
    </div>
  </nav>
    <h1 style="text-align: center;">Password</h1>
    <div  style="margin: 10px 100px 5px 100px; padding: 0px;">
        <form method="POST" action="/home/add">
            <label for="website">Website</label>
            <input type="text" class="form-control" id="website"  name="website" placeholder="Enter website" required>
            <label for="websitePassword">Password</label>
            <input type="text" class="form-control" id="websitePassword"  name="websitePassword" placeholder="Enter website password" required>
            <button type="submit" class="btn btn-success" style="margin-top: 10px;"> save </button>
        </form>
    </div>
{% endblock %}